{% extends "layout.html" %}

{% block body %}
<h1>Posts by users</h1>

<ol>
    {% for post in posts %}
    <li>
        <a href="{{ url_for('show_comments', PostId=post.id) }}"><mark>{{ post.account.username }}: {{ post.postName }}</mark>
            <br>
            <small>Created: {{ post.dateCreated }}</small>
            <br>
            <small>Modified: {{ post.dateModified }}</small>
        </a>
    </li>
    <br>
    {% endfor %}
</ol>

<a href="{{ url_for('posts_form') }}">Make a new post</a>
<br>
<a href="{{ url_for('index') }}">Back to index</a>
{% endblock %}