{% extends "layout.html" %}

{% block body %}
<h1>{{ PostName }}</h1>

<h2>Comments:</h2>
<ol>
{% for comment in Comments %}
    <li>
        {{comment.CommentContent}}
        <form method="POST" action="{{ url_for('delete_comment', PostId=PostID) }}">
            <input type="hidden" value="{{ comment.CommentId }}" name="comment_to_delete"/>
            <input type="submit" value="Delet this">
        </form>

        <form method="POST" action="{{ url_for('show_comment_update_form', PostId=PostID) }}">
            <input type="hidden" value="{{ comment.CommentId }}" name="comment_to_update"/>
            <input type="submit" value="Modify">
        </form>
    </li>
{% endfor %}
</ol>

<form method="POST" action="{{ url_for('create_comment', PostId=PostID) }}">
    {% for error in form.comment.errors %}
    {{ error }}
    <br>
    {% endfor %}
    <br>
    {{ form.comment.label }}
    <br>
    {{ form.comment }}
    <input type="submit" value="Make this comment"/>
</form>

<a href="{{ url_for('posts_index') }}">Return</a>
{% endblock %}