{% extends "layout.html" %}

{% block body %}
{{ error }}
<div class="text-center">
    <h2>Please login:</h2>

    <form method="POST" action="{{ url_for('auth_handle_login') }}">
        {{ form.username.label }}
        <br>
        {{ form.username }}
            
        <br>
        <br>
            
        {{ form.password.label }}
        <br>
        {{ form.password }}
            
        <br>
        <br>
                
        <input type="submit" value="Login"/>
    </form>

</div>

<div class="text-center">
    <br>
    <a href="{{ url_for('index') }}">Return to frontpage</a>
</div>
{% endblock %}